<div class="container">
    
    <div class="center jumbotron">
    
        <h1>Welcome to our online shopping mail</h1>
        <%= link_to 'Start Shopping', products_path, class: 'btn btn-warning btn-lg' %>
    
    </div>


</div>


